body {
    background:antiquewhite;
}
td{
    height:150px;
    width:150px;
    border: 6px black solid;
    font-size: 80px;
    text-align: center;
}

#h_name{
    animation-timing-function: ease;
}
#h3_name{
    animation-timing-function: ease;
    text-align:left;
    font-style:italic;

}
#btn1{
    font-size: large;
    padding: 10px 25px;
    border-radius:5px
}
#btn2{
    font-size:large;
    padding: 10px 25px;
    border-radius: 5px;
}
#h1{
    font-size: 50px;
}